## Part 1

Task 1 : import the CSV file data/brasil-real-estate-1.csv into dataframe df

In [ ]:
import pandas as pd
df = pd.read_csv('brasil-real-estate-1.csv', encoding="latin-1")
df

Task 2 :Drop all rows with NAN values from df

In [ ]:
df = df.dropna()
df

Task 3: use "lat-lon" columns to create two separate columns in df "lat", "lon". Make sure that the datatype will be float

In [ ]:
print(df['lat-lon'].head())
df[['lat', 'lon']] = df['lat-lon'].str.split(",", expand=True)  # use ',' as a delimiter
print(df['lat'].head())
print(df['lon'].head())

Task 4: Transform "price_USD" so that all values be floating points instead of strings

In [ ]:
df['price_usd'] = df['price_usd'].str[1:]
df['price_usd'] = df['price_usd'].replace(',', '', regex=True).astype(float)  # Slicing to remove the first char '$'
df['price_usd'].head()

Task 5: drop "lat-lon" columns

In [ ]:
df.drop(columns=['lat-lon'], inplace=True)
df

Task 6: import the CSV file data/brasil-real-estate-2.csv into dataframe df2

In [ ]:
df2 = pd.read_csv('brasil-real-estate-2.csv', encoding="latin-1")
df2

Task 7: use "price_brl" to create new columns named "price_usd" by dividing the value by 3.19

In [ ]:
df2['price_usd'] = df2['price_brl'] / 3.19
df2.head()

Task 8: drop "price_brl" from columns, as well as any rows that have Nan values

In [ ]:
df2.drop(columns=['price_brl'], inplace=True)
df2.dropna(inplace=True)
df2

Task 9: concatenate df and df2 into new dataframe named df_new

In [ ]:
df_new = pd.concat([df, df2])
df_new

Task 10: use describe method to create dataframe summary_stats for "area_m2" and "price_usd" columns

In [ ]:
summary_stats = df_new[['area_m2', 'price_usd']].describe()
summary_stats

Task 11: use groupby method to create a series named mean_price_by_region that shows the mean home price in brazil, sorted from smallest to highest

In [ ]:
mean_price_by_region = df_new.groupby('region')['price_usd'].mean().sort_values()
mean_price_by_region

Task 12: create new dataframe named df_south that contains all homes from df in South region

In [ ]:
df_south = df_new[df_new['region'] == 'South']
df_south

Task 13: use value_counts method to create a series home_by_state that contains the number of properties in df_south

In [ ]:
home_by_state = df_south.groupby('state')['property_type'].value_counts()
home_by_state

## Part 2

Task 14: Write a wrangle function that takes the name of csv as argument and perform the following : 

1- read mexico-real-estate-1.csv into df 

2- get only the apartment that locates in mexico city "Distrito Federal" that costs less than 100,000

3- create separate "lat" and "lon" columns as done before

4- drop columns that are more than 50 % Nan values

5- drop all columns with categorical values

6- return df at last

In [ ]:
def wrangle(filename):
    df = pd.read_csv(filename, encoding="latin-1")
    col_name_lst = list(df.columns)
    price_col_name = col_name_lst[-1]
    if df[price_col_name].dtype == object:
        df[price_col_name] = df[price_col_name].str[1:]
        df[price_col_name] = df[price_col_name].replace(',', '', regex=True).astype(float)
    if 'state' in df.columns:
        df = df.loc[(df['state'] == 'Distrito Federal') & (df[price_col_name] < 100000)]
    else:
        df = df.loc[df[price_col_name] < 100000]
    if 'lat-lon' in df.columns:
        df[['lat', 'lon']] = df['lat-lon'].str.split(",", expand=True)
    min_count = int(0.5 * df.shape[0] + 1)
    df.dropna(axis=1, thresh=min_count, inplace=True)
    df.drop(df.select_dtypes(include=['object', 'category']), axis=1, inplace=True)
    return df

new_df = wrangle('mexico-real-estate-1.csv')
new_df

use glob method to create list of files. it should contain the filename of all mexico real state.

In [ ]:
import glob as gb
filename_list = []
for i in gb.glob('mexico-real-estate-[0-9].csv'):
    filename_list.append(i)
filename_list

combine your wrangle function, a list comprehension and pd.concat to create new dataframe df from all files names from previous task

In [ ]:
df_brasil_1 = wrangle('brasil-real-estate-1.csv')
df_brasil_2 = wrangle('brasil-real-estate-2.csv')
df_mexico_1 = wrangle('mexico-real-estate-1.csv')
df_mexico_2 = wrangle('mexico-real-estate-2.csv')
df_mexico_3 = wrangle('mexico-real-estate-3.csv')
df_all = pd.concat([df_brasil_1, df_brasil_2, df_mexico_1, df_mexico_2, df_mexico_3])
df_all