## Part 1

Task 1 : import the CSV file data/brasil-real-estate-1.csv into dataframe df

In [1]:
import pandas as pd
df = pd.read_csv('brasil-real-estate-1.csv', encoding="latin")
df

,Unnamed: 0,property_type,place_with_parent_names,region,lat-lon,area_m2,price_usd
0,1,apartment,|Brasil|Alagoas|Maceió|,Northeast,"-9.6443051,-35.7088142",110,"$187,230.85"
1,2,apartment,|Brasil|Alagoas|Maceió|,Northeast,"-9.6430934,-35.70484",65,"$81,133.37"
2,3,house,|Brasil|Alagoas|Maceió|,Northeast,"-9.6227033,-35.7297953",211,"$154,465.45"
3,4,apartment,|Brasil|Alagoas|Maceió|,Northeast,"-9.622837,-35.719556",99,"$146,013.20"
4,5,apartment,|Brasil|Alagoas|Maceió|,Northeast,"-9.654955,-35.700227",55,"$101,416.71"
...,...,...,...,...,...,...,...
12829,12830,apartment,|Brasil|Pernambuco|Recife|,Northeast,"-8.056418,-34.909309",91,"$174,748.79"
12830,12831,apartment,|Brasil|Pernambuco|Recife|,Northeast,"-8.1373477,-34.909181",115,"$115,459.02"
12831,12832,apartment,|Brasil|Pernambuco|Recife|Boa Viagem|,Northeast,"-8.1136717,-34.896252",76,"$137,302.62"
12832,12833,apartment,|Brasil|Pernambuco|Recife|Boa Viagem|,Northeast,NaN,130,"$234,038.56"
12833,12834,apartment,|Brasil|Pernambuco|Recife|Boa Viagem|,Northeast,"-8.0578381,-34.882897",99,"$168,507.77"

Task 2 :Drop all rows with NAN values from df

In [2]:
df = df.dropna()
df

,Unnamed: 0,property_type,place_with_parent_names,region,lat-lon,area_m2,price_usd
0,1,apartment,|Brasil|Alagoas|Maceió|,Northeast,"-9.6443051,-35.7088142",110,"$187,230.85"
1,2,apartment,|Brasil|Alagoas|Maceió|,Northeast,"-9.6430934,-35.70484",65,"$81,133.37"
2,3,house,|Brasil|Alagoas|Maceió|,Northeast,"-9.6227033,-35.7297953",211,"$154,465.45"
3,4,apartment,|Brasil|Alagoas|Maceió|,Northeast,"-9.622837,-35.719556",99,"$146,013.20"
4,5,apartment,|Brasil|Alagoas|Maceió|,Northeast,"-9.654955,-35.700227",55,"$101,416.71"
...,...,...,...,...,...,...,...
12828,12829,apartment,|Brasil|Pernambuco|Recife|,Northeast,"-8.044497,-34.909519",74,"$134,182.11"
12829,12830,apartment,|Brasil|Pernambuco|Recife|,Northeast,"-8.056418,-34.909309",91,"$174,748.79"
12830,12831,apartment,|Brasil|Pernambuco|Recife|,Northeast,"-8.1373477,-34.909181",115,"$115,459.02"
12831,12832,apartment,|Brasil|Pernambuco|Recife|Boa Viagem|,Northeast,"-8.1136717,-34.896252",76,"$137,302.62"
12833,12834,apartment,|Brasil|Pernambuco|Recife|Boa Viagem|,Northeast,"-8.0578381,-34.882897",99,"$168,507.77"

Task 3: use "lat-lon" columns to create two separate columns in df "lat", "lon". Make sure that the datatype will be float

In [3]:
print(df['lat-lon'].head())
df[['lat', 'lon']] = df['lat-lon'].str.split(",", expand=True)  # use ',' as a delimiter
print(df['lat'].head())
print(df['lon'].head())

0    -9.6443051,-35.7088142
1      -9.6430934,-35.70484
2    -9.6227033,-35.7297953
3      -9.622837,-35.719556
4      -9.654955,-35.700227
Name: lat-lon, dtype: object
0    -9.6443051
1    -9.6430934
2    -9.6227033
3     -9.622837
4     -9.654955
Name: lat, dtype: object
0    -35.7088142
1      -35.70484
2    -35.7297953
3     -35.719556
4     -35.700227
Name: lon, dtype: object

C:\Users\salwa\AppData\Local\Temp\ipykernel_2496\3339821139.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['lat', 'lon']] = df['lat-lon'].str.split(",", expand=True)  # use ',' as a delimiter
C:\Users\salwa\AppData\Local\Temp\ipykernel_2496\3339821139.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['lat', 'lon']] = df['lat-lon'].str.split(",", expand=True)  # use ',' as a delimiter

Task 4: Transform "price_USD" so that all values be floating points instead of strings

In [4]:
df['price_usd'] = df['price_usd'].str.replace('[,$]', '', regex=True).astype(float)  # Slicing to remove the first char '$'
df['price_usd'].head()

C:\Users\salwa\AppData\Local\Temp\ipykernel_2496\3220425860.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_usd'] = df['price_usd'].str.replace('[,$]', '', regex=True).astype(float)  # Slicing to remove the first char '$'

0    187230.85
1     81133.37
2    154465.45
3    146013.20
4    101416.71
Name: price_usd, dtype: float64

Task 5: drop "lat-lon" columns

In [5]:
df.drop(columns=['lat-lon'], inplace=True)
df

C:\Users\salwa\AppData\Local\Temp\ipykernel_2496\969360844.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['lat-lon'], inplace=True)

,Unnamed: 0,property_type,place_with_parent_names,region,area_m2,price_usd,lat,lon
0,1,apartment,|Brasil|Alagoas|Maceió|,Northeast,110,187230.85,-9.6443051,-35.7088142
1,2,apartment,|Brasil|Alagoas|Maceió|,Northeast,65,81133.37,-9.6430934,-35.70484
2,3,house,|Brasil|Alagoas|Maceió|,Northeast,211,154465.45,-9.6227033,-35.7297953
3,4,apartment,|Brasil|Alagoas|Maceió|,Northeast,99,146013.20,-9.622837,-35.719556
4,5,apartment,|Brasil|Alagoas|Maceió|,Northeast,55,101416.71,-9.654955,-35.700227
...,...,...,...,...,...,...,...,...
12828,12829,apartment,|Brasil|Pernambuco|Recife|,Northeast,74,134182.11,-8.044497,-34.909519
12829,12830,apartment,|Brasil|Pernambuco|Recife|,Northeast,91,174748.79,-8.056418,-34.909309
12830,12831,apartment,|Brasil|Pernambuco|Recife|,Northeast,115,115459.02,-8.1373477,-34.909181
12831,12832,apartment,|Brasil|Pernambuco|Recife|Boa Viagem|,Northeast,76,137302.62,-8.1136717,-34.896252
12833,12834,apartment,|Brasil|Pernambuco|Recife|Boa Viagem|,Northeast,99,168507.77,-8.0578381,-34.882897

Task 6: import the CSV file data/brasil-real-estate-2.csv into dataframe df2

In [6]:
df2 = pd.read_csv('brasil-real-estate-2.csv', encoding="latin")
df2

,Unnamed: 0,property_type,state,region,lat,lon,area_m2,price_brl
0,1,apartment,Pernambuco,Northeast,-8.134204,-34.906326,72.0,414222.98
1,2,apartment,Pernambuco,Northeast,-8.126664,-34.903924,136.0,848408.53
2,3,apartment,Pernambuco,Northeast,-8.125550,-34.907601,75.0,299438.28
3,4,apartment,Pernambuco,Northeast,-8.120249,-34.895920,187.0,848408.53
4,5,apartment,Pernambuco,Northeast,-8.142666,-34.906906,80.0,464129.36
...,...,...,...,...,...,...,...,...
12828,12829,house,São Paulo,Southeast,-23.587495,-46.559401,250.0,429194.89
12829,12830,apartment,São Paulo,Southeast,-23.522029,-46.189290,55.0,252398.80
12830,12831,apartment,São Paulo,Southeast,-23.526443,-46.529182,57.0,319400.84
12831,12832,house,Tocantins,North,-8.848399,-48.511164,NaN,529007.65
12832,12833,apartment,Tocantins,North,-10.249091,-48.324286,70.0,289457.01

Task 7: use "price_brl" to create new columns named "price_usd" by dividing the value by 3.19

In [7]:
df2['price_usd'] = (df2['price_brl'] / 3.19).round(2)
df2.head()

,Unnamed: 0,property_type,state,region,lat,lon,area_m2,price_brl,price_usd
0,1,apartment,Pernambuco,Northeast,-8.134204,-34.906326,72.0,414222.98,129850.46
1,2,apartment,Pernambuco,Northeast,-8.126664,-34.903924,136.0,848408.53,265958.79
2,3,apartment,Pernambuco,Northeast,-8.125550,-34.907601,75.0,299438.28,93867.80
3,4,apartment,Pernambuco,Northeast,-8.120249,-34.895920,187.0,848408.53,265958.79
4,5,apartment,Pernambuco,Northeast,-8.142666,-34.906906,80.0,464129.36,145495.10

Task 8: drop "price_brl" from columns, as well as any rows that have Nan values

In [8]:
df2.drop(columns=['price_brl'], inplace=True)
df2.dropna(inplace=True)
df2

,Unnamed: 0,property_type,state,region,lat,lon,area_m2,price_usd
0,1,apartment,Pernambuco,Northeast,-8.134204,-34.906326,72.0,129850.46
1,2,apartment,Pernambuco,Northeast,-8.126664,-34.903924,136.0,265958.79
2,3,apartment,Pernambuco,Northeast,-8.125550,-34.907601,75.0,93867.80
3,4,apartment,Pernambuco,Northeast,-8.120249,-34.895920,187.0,265958.79
4,5,apartment,Pernambuco,Northeast,-8.142666,-34.906906,80.0,145495.10
...,...,...,...,...,...,...,...,...
12827,12828,house,São Paulo,Southeast,-23.595098,-46.796448,180.0,131414.92
12828,12829,house,São Paulo,Southeast,-23.587495,-46.559401,250.0,134543.85
12829,12830,apartment,São Paulo,Southeast,-23.522029,-46.189290,55.0,79121.88
12830,12831,apartment,São Paulo,Southeast,-23.526443,-46.529182,57.0,100125.66
12832,12833,apartment,Tocantins,North,-10.249091,-48.324286,70.0,90738.87

Task 9: concatenate df and df2 into new dataframe named df_new

In [9]:
df_new = pd.concat([df, df2])
df_new

,Unnamed: 0,property_type,place_with_parent_names,region,area_m2,price_usd,lat,lon,state
0,1,apartment,|Brasil|Alagoas|Maceió|,Northeast,110.0,187230.85,-9.6443051,-35.7088142,NaN
1,2,apartment,|Brasil|Alagoas|Maceió|,Northeast,65.0,81133.37,-9.6430934,-35.70484,NaN
2,3,house,|Brasil|Alagoas|Maceió|,Northeast,211.0,154465.45,-9.6227033,-35.7297953,NaN
3,4,apartment,|Brasil|Alagoas|Maceió|,Northeast,99.0,146013.20,-9.622837,-35.719556,NaN
4,5,apartment,|Brasil|Alagoas|Maceió|,Northeast,55.0,101416.71,-9.654955,-35.700227,NaN
...,...,...,...,...,...,...,...,...,...
12827,12828,house,NaN,Southeast,180.0,131414.92,-23.595098,-46.796448,São Paulo
12828,12829,house,NaN,Southeast,250.0,134543.85,-23.587495,-46.559401,São Paulo
12829,12830,apartment,NaN,Southeast,55.0,79121.88,-23.522029,-46.18929,São Paulo
12830,12831,apartment,NaN,Southeast,57.0,100125.66,-23.526443,-46.529182,São Paulo
12832,12833,apartment,NaN,North,70.0,90738.87,-10.249091,-48.324286,Tocantins

Task 10: use describe method to create dataframe summary_stats for "area_m2" and "price_usd" columns

In [10]:
summary_stats = df_new[['area_m2', 'price_usd']].describe()
summary_stats

            area_m2      price_usd
count  22844.000000   22844.000000
mean     115.020224  194987.315515
std       47.742932  103617.682979
min       53.000000   74892.340000
25%       76.000000  113898.770000
50%      103.000000  165697.555000
75%      142.000000  246900.882500
max      252.000000  525659.720000

Task 11: use groupby method to create a series named mean_price_by_region that shows the mean home price in brazil, sorted from smallest to highest

In [11]:
mean_price_by_region = df_new.groupby('region')['price_usd'].mean().sort_values()
mean_price_by_region

region
Central-West    178596.283663
North           181308.958188
Northeast       185422.985482
South           189012.345360
Southeast       208996.762761
Name: price_usd, dtype: float64

Task 12: create new dataframe named df_south that contains all homes from df in South region

In [12]:
df_south = df_new[df_new['region'] == 'South']
df_south

,Unnamed: 0,property_type,place_with_parent_names,region,area_m2,price_usd,lat,lon,state
9304,9305,apartment,|Brasil|Paraná|Curitiba|Vila Izabel|,South,127.0,296448.85,-25.4557041,-49.2929181,NaN
9305,9306,apartment,|Brasil|Paraná|Curitiba|Vila Izabel|,South,104.0,219996.25,-25.4557041,-49.2929181,NaN
9306,9307,apartment,|Brasil|Paraná|Curitiba|Vila Izabel|,South,100.0,194210.50,-25.460236,-49.293812,NaN
9307,9308,apartment,|Brasil|Paraná|Curitiba|Vila Izabel|,South,77.0,149252.94,-25.460236,-49.293812,NaN
9308,9309,apartment,|Brasil|Paraná|Curitiba|Vila Izabel|,South,73.0,144167.75,-25.460236,-49.293812,NaN
...,...,...,...,...,...,...,...,...,...
9741,9742,apartment,NaN,South,117.0,309763.76,-26.966631,-48.636383,Santa Catarina
9742,9743,house,NaN,South,110.0,88616.51,-26.754795,-48.729183,Santa Catarina
9744,9745,house,NaN,South,165.0,110770.65,-27.454047,-48.411582,Santa Catarina
9745,9746,apartment,NaN,South,65.0,86045.49,-26.99721,-48.633877,Santa Catarina
9747,9748,apartment,NaN,South,79.0,238122.92,-27.594744,-48.541233,Santa Catarina

Task 13: use value_counts method to create a series home_by_state that contains the number of properties in df_south

In [13]:
home_by_state = df_south.groupby('state')['property_type'].value_counts()
home_by_state

state              property_type
Rio Grande do Sul  apartment        2059
                   house             584
Santa Catarina     apartment        2192
                   house             442
Name: property_type, dtype: int64

## Part 2

Task 14: Write a wrangle function that takes the name of csv as argument and perform the following : 

1- read mexico-real-estate-1.csv into df 

2- get only the apartment that locates in mexico city "Distrito Federal" that costs less than 100,000

3- create separate "lat" and "lon" columns as done before

4- drop columns that are more than 50 % Nan values

5- drop all columns with categorical values

6- return df at last

In [18]:
def wrangle(filename):

    # Part 1
    df = pd.read_csv(filename, encoding="latin")

    # Reading column names in a list to get the name of the last column (price)
    col_name_lst = list(df.columns)
    price_col_name = col_name_lst[-1]

    # Preparing for step 2 "price constraint"
    if df[price_col_name].dtype == object:
        df[price_col_name] = df[price_col_name].str.replace('[,$]', '', regex=True).astype(float)

    # Part 2 
    if 'state' in df.columns:
        df = df.loc[(df['state'] == 'Distrito Federal') ]
    else:
        df = df.loc[df['place_with_parent_names'].str.contains('Distrito Federal')]

    df = df.loc[(df[price_col_name] < 100000) & (df['property_type'] == 'apartment')]

    # Part 3
    if 'lat-lon' in df.columns:
        df[['lat', 'lon']] = df['lat-lon'].str.split(',', expand=True).astype(float)
        df.drop('lat-lon', axis=1, inplace=True)

    # Part 4
    min_count = int(0.5 * df.shape[0] + 1)
    df.dropna(axis=1, thresh=min_count, inplace=True)

    # Part 5
    df.drop(df.select_dtypes(include=['object', 'category']), axis=1, inplace=True)

    # Part 6
    return df

new_df = wrangle('mexico-real-estate-1.csv')
new_df

     Unnamed: 0        lat        lon  area_m2  price_usd
24           25  19.428152 -99.106194       68   67175.26
53           54  19.351369 -99.248993       90   86300.46
54           55  19.412142 -99.146127       75   44794.13
85           86  19.351371 -99.161529       60   35563.37
90           91        NaN        NaN       81   42149.18
122         123  19.401819 -99.184615       75   78502.86
161         162  19.428152 -99.106194       67   79029.72
194         195  19.452331 -99.177162       90   73234.21
197         198  19.342083 -99.053216       86   90115.25
221         222  19.449392 -99.138544       70   42676.05
224         225  19.486255 -99.214043       65   46890.97
240         241  19.364613 -99.161892       70   93255.07
241         242  19.366505 -99.222297       72   64281.19
245         246  19.354947 -99.087529       65   37386.32
251         252  19.377169 -99.187643       90   56514.99
287         288  19.452689 -99.117987       60   36269.27
313         314  19.375374 -99.137657       80   34077.61
364         365  19.371321 -99.140985       84   93465.82
369         370  19.465454 -99.162665       69   75375.18
400         401  19.451872 -99.173522       70   66911.83
405         406  19.336195 -99.236920      100   74920.17
420         421  19.271124 -99.208839       72   40645.77
422         423        NaN        NaN       72   84318.36
482         483  19.474655 -99.189277       60   40041.72
524         525  19.472481 -99.182374       75   80635.87
537         538  19.474655 -99.189277       70   50064.02
554         555  19.396502 -99.128797       80   39946.36
564         565  19.488880 -99.179278       70   51393.55
582         583  19.364891 -99.148384       62   84318.36
587         588  19.449392 -99.138544       65   42676.05
610         611  19.478815 -99.196831       64   76395.40
655         656  19.362430 -99.176957       70   40568.59
656         657  19.390062 -99.192293       64   94858.16
665         666  19.400731 -99.125466       80   68070.93
694         695  19.309208 -99.171906       70   77572.89

use glob method to create list of files. it should contain the filename of all mexico real state.

In [15]:
import glob as gb
filename_list = []
for i in gb.glob('mexico-real-estate-[0-9].csv'):
    filename_list.append(i)
filename_list

['mexico-real-estate-1.csv',
 'mexico-real-estate-2.csv',
 'mexico-real-estate-3.csv']

combine your wrangle function, a list comprehension and pd.concat to create new dataframe df from all files names from previous task

In [17]:
df_mexico_1 = wrangle('mexico-real-estate-1.csv')
df_mexico_2 = wrangle('mexico-real-estate-2.csv')
df_mexico_3 = wrangle('mexico-real-estate-3.csv')
df_all = pd.concat([df_mexico_1, df_mexico_2, df_mexico_3])
df_all

     Unnamed: 0        lat        lon  area_m2  price_usd
24           25  19.428152 -99.106194       68   67175.26
53           54  19.351369 -99.248993       90   86300.46
54           55  19.412142 -99.146127       75   44794.13
85           86  19.351371 -99.161529       60   35563.37
90           91        NaN        NaN       81   42149.18
..          ...        ...        ...      ...        ...
648         649        NaN        NaN       74   54793.94
677         678  19.393656 -99.132304       60   84845.35
684         685  19.441809 -99.156423       80   65120.49
687         688  19.391819 -99.188639       84   71653.61
690         691  19.496076 -99.204251       60   36260.68

[82 rows x 5 columns]